@font-face {
  font-family: 'Publica Sans';
  src: url('./PublicaSans/PublicaSans-Thin.eot');
  src: url('./PublicaSans/PublicaSans-Thin.eot?#iefix') format('embedded-opentype'),
      url('./PublicaSans/PublicaSans-Thin.woff2') format('woff2'),
      url('./PublicaSans/PublicaSans-Thin.woff') format('woff'),
      url('./PublicaSans/PublicaSans-Thin.ttf') format('truetype'),
      url('./PublicaSans/PublicaSans-Thin.svg#PublicaSans-Thin') format('svg');
  font-weight: 100;
  font-style: none;
}

@font-face {
  font-family: 'Publica Sans';
  src: url('./PublicaSans/PublicaSans-Light.eot');
  src: url('./PublicaSans/PublicaSans-Light.eot?#iefix') format('embedded-opentype'),
      url('./PublicaSans/PublicaSans-Light.woff2') format('woff2'),
      url('./PublicaSans/PublicaSans-Light.woff') format('woff'),
      url('./PublicaSans/PublicaSans-Light.ttf') format('truetype'),
      url('./PublicaSans/PublicaSans-Light.svg#PublicaSans-Light') format('svg');
  font-weight: 300;
  font-style: none;
}

@font-face {
  font-family: 'Publica Sans';
  src: url('./PublicaSans/PublicaSans-Bold.eot');
  src: url('./PublicaSans/PublicaSans-Bold.eot?#iefix') format('embedded-opentype'),
      url('./PublicaSans/PublicaSans-Bold.woff2') format('woff2'),
      url('./PublicaSans/PublicaSans-Bold.woff') format('woff'),
      url('./PublicaSans/PublicaSans-Bold.ttf') format('truetype'),
      url('./PublicaSans/PublicaSans-Bold.svg#PublicaSans-Bold') format('svg');
  font-weight: 700;
  font-style: none;
}

@font-face {
  font-family: 'Bahij SultanNahia';
  src: url('./BahijSultan/BahijSultanNahia.eot');
  src: url('./BahijSultan/BahijSultanNahia.eot?#iefix') format('embedded-opentype'),
      url('./BahijSultan/BahijSultanNahia.woff2') format('woff2'),
      url('./BahijSultan/BahijSultanNahia.woff') format('woff'),
      url('./BahijSultan/BahijSultanNahia.ttf') format('truetype'),
      url('./BahijSultan/BahijSultanNahia.svg#BahijSultanNahia') format('svg');
  font-weight: 400;
  font-style: none;
}





