.weather__add__info__block {
  font-family: 'Publica Sans';
  font-weight: 300;
  color:rgba(255, 255, 255, 1);

  .weather__add__info__name {
    font-size: 25px;
    margin-bottom: 5px;
  }

  .weather__add__info__number {
    font-size: 15px;
  }
}